/*
Date: 10/09/2020
Desc: Style file for account.php
Author: Bruno Menslin
*/

#page-account {
    display: grid;
    grid-gap: 50px;
    text-align: center;
}

#page-account a {
    font-size: 25px;
}