/*
Date: 07/09/2020
Desc: Find spots style file
Author: Bruno Menslin
*/

#page-find-spots form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    max-width: 1100px; /*.page form*/
    margin: 0 0 40px 0;
    padding: 0;
}

#page-find-spots form input {
    border-radius: 0;
    text-transform: uppercase;
}

#page-find-spots form select {
    border-radius: 6px 0 0 6px;
    padding-left: 20px;
    font-size: 20px;
    text-align: center;

    background: rgba(255, 255, 255, 0.09);
    border: none;
    outline: none;
    transition: background-color 400ms;
}

#page-find-spots form select option {
    background: #1f1f1f;
}

#page-find-spots form select:hover {
    background: rgba(255, 255, 255, 0.123);
}

#page-find-spots form button {
    text-align: end;
    border-radius: 0 6px 6px 0;
    background: rgba(255, 255, 255, 0.09);
    transition: background-color 400ms;
    border: none;
}

#page-find-spots form button span {
    display: none;
    font-size: 20px;
}

#page-find-spots form button img {
    margin-top: 3px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

#page-find-spots form button:hover {
    background: #726094;
    text-align: center;
}

#page-find-spots form button:hover img {
    display: none;
}

#page-find-spots form button:hover span {
    display: block;
}

#page-find-spots .spots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

#page-find-spots .spots h2 {
    text-align: center;
}

#page-find-spots .spot {
    border-radius: 8px;
}

#page-find-spots .spot img {
    width: 100%;
    height: 231px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

#page-find-spots .spot h3 {
    font-size: 22px;
    line-height: 34px;
    margin: 10px 0 20px 0;
}

#page-find-spots .spot p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 50px;
    color: rgb(194, 194, 194);
}