/*
Date: 07/09/2020
Desc: Home page style file
Author: Bruno Menslin
*/

#page-home {
    height: 80vh;
}

#page-home img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

#page-home div {
    display: flex;
    justify-content: space-around;
    text-align: center; 
    margin-top: 40px;
    font-size: 30px;
}

footer {
    text-align-last: center;
}

@media (max-height: 850px) {
    #page-home {
        height: 78vh;
    }
}

@media (max-height: 800px) {
    #page-home {
        height: 75vh;
    }
}

@media (max-height: 700px) {
    #page-home {
        height: 70vh;
    }
}