/*
Date: 07/09/2020
Desc: Main style file
Author: Bruno Menslin
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-family: Courier, Courier New, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

body {
    background: #000;
    -webkit-font-smoothing: antialiased;
}

body a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center; /*vertical align*/
    height: 100px;
    font-size: 25px;
    margin: 0 50px;
}

a.logo {
    font-size: 40px;
}

main {
    margin: 40px 0;
}

form select {
    -webkit-appearance: none; /*remove default appearance (chrome)*/
    -moz-appearance: none; /*remove default appearance (firefox)*/
    appearance: none; /*remove default appearance*/
}

footer {
    margin-top: 100px;
    text-align: center;
}

input::-webkit-outer-spin-button, /*remove style from input type number (chrome)*/
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { /*remove style from input type number (firefox)*/
  -moz-appearance: textfield;
}