/*
Date: 07/09/2020
Desc: Register and update spots style file
Author: Bruno Menslin
*/

#page-update-spot form input,
#page-register-spot form input {
    text-transform: capitalize;
}

.page .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 32px;
}

.page .feature-grid input {
    display: none;
}

.page .feature-grid label {
    color: rgb(54, 53, 53);
    font-size: 25px;
    cursor: pointer;
    transition: color 400ms;
}

.page .feature-grid label:hover {
    color: rgba(255, 255, 255, 0.418);
}

.feature-checkbox:checked + .feature-label {
    color: #fff !important;
}